/*Fonts*/

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff") format("woff"),
      url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
      url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff") format("woff"),
      url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
      url("../fonts/opensans.woff2") format("woff2");
}

body {
  min-width: 1200px;
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 15px;
  color: #464646;
  line-height: 30px;
}


h3 {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}


.content-header {
  font-size: 47px;
  margin-bottom: 15px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
}

.content-header-inner {
  font-size: 47px;
  margin-bottom: 12px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
  letter-spacing: .02em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content-padding {
  padding: 0 60px;
}

.header-top {
  margin-bottom: 14px;
}

.header-middle {
  margin-bottom: 35px;
}

.container {
  min-height: 70px;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.inner-header .container {
  position: relative;
  padding-top: 30px;
  min-height: 200px;
}

.inner-header .container::after {
  content: "";
  position: absolute;
  background-color: #F7E296;
  width: 1160px;
  height: 186px;
  z-index: -1;
  top: 40px;
}

.main-header .container {
  position: relative;
  padding-top: 30px;
  min-height: 200px;
}

.main-header .container::after {
  content: "";
  position: absolute;
  background-color: #F7E296;
  width: 1160px;
  height: 299px;
  z-index: -1;
  top: 40px;
}

.logo a {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 48px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:hover {
  color: #464646;
}

.logo a:active {
  color: #666666;
}

.search {
  width: 500px;
  float: left;
}

.search-input {
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -151px;
  padding-left: 38px;
  outline: none;
  border: none;

  font-family: "Open Sans Light", "Arial", serif;
  font-size: 15px;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-middle-nav {
  width: 500px;
  float: right;
}

.login {
  float: left;
}

.login-userinfo,
.compare,
.cart {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  padding-left: 27px;
}

.login-userinfo::before,
.compare::before,
.cart::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 3px;
}

.login-userinfo::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -165px;
}

.compare::before  {
  width: 10px;
  height: 10px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -71px;
}

.cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -5px;
}

.login-userinfo:hover,
.login-logout:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.login-userinfo:active,
.login-logout:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.login-logout {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-left: 15px;
}

.header-bottom-menu a{
  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.header-bottom-menu a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.header-bottom-menu a:active{
  color: rgba(0, 0, 0, 0.3);
}

.compare-cart {
  float: right;
}

.cart {
  margin-left: 35px;
}

.menu-catalog {
  float: left;
}

.menu-catalog-item {
  position: relative;
  padding-right: 27px;
}

.menu-catalog-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -125px;
  top: 7px;
  right: 0;
}

.menu-nav {
  float: right;
  width: 500px;
}

.menu-nav-items  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-nav-items li {
  display: inline;
  float: left;
  margin-right: 35px;
}

.menu-nav-items li:nth-child(3n) {
  float: right;
  margin-right: -3px;
}

.breadcrumbs {
  font-family: "Open Sans Light", "Arial", serif;
  display: inline-block;
  margin-bottom: 29px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.breadcrumbs-items  {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.breadcrumbs-items li {
  position: relative;
  display: inline;
  margin-right: 20px;
  padding-right: 14px;
  letter-spacing: .01em;
}

.breadcrumbs a::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  transform: rotate(45deg);
  top: 8px;
  right: 0px;
}

.feature {
  float: left;
}

.services {
  position: relative;
  margin-bottom: 200px;
}

.services-control {
  float: left;
  width: 400px;
  padding-top: 10px;
}

.services-desc {
  width: 760px;
  float: left;
}

.services-desc-text {
  width: 460px;
  float: left;
  margin-top: 9px;
}

.services-desc-picture {
  width: 260px;
  float: right;
  padding-top: 15px;
  padding-right: 4px;
}

.services-desc-picture img {
  display: block;
  margin: 0 auto;
}

.about-contacts {
  margin-bottom: 80px;
}

.about-us {
  float: left;
  width: 560px;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: -8px;
}

.contacts {
  float: left;
  width: 560px;
  margin-left: 40px;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: -8px;
}

.shop-content-headers {
  background: linear-gradient(to right,#dbdbdb 50%,#ebebeb 50%);
}

.shop-content-headers span {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
}

.sort-link {
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-link.active .sort-link:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type .active {
  color: rgba(0, 0, 0, 1);
}

.filter-column-header {
  float: left;
  width: 268px;
  padding: 20px 0 19px 60px;
}

.goods-header {
  float: left;
  width: 760px;
  background-color: #ebebeb;
  padding: 20px 0 19px 70px;
}

.sort-title {
  width: 203px;
  float: left;
}

.sort-type {
  float: left;
}

.sort-type-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-type-items li {
  display: inline;
  margin-right: 28px;
}

.sort-direction {
  float: right;
  position: relative;
  width: 60px;
  min-height: 18px;
  margin-left: 40px;
  top: 7px;
}

.sort-arrow {
  position: absolute;
  border: 9px solid rgba(0, 0, 0, .2);
  border-left-color: transparent;
  border-right-color: transparent;
}

.sort-arrow.active {
  border-top-color: #000000;
}

.sort-direction-up {
  left: 0;
  top: -5px;
  border-top-color: transparent;
}

.sort-direction-down {
  right: 0;
  top: 4px;
  border-bottom-color: transparent;
}

.goods-column {
  background: linear-gradient(to right,#eeeeee 50%,#ffffff 50%);
}

.filter-column {
  float: left;
  width: 268px;
  padding: 26px 0 26px 60px;
}

.filter-column form {
  width: 200px;
  padding-top: 43px;
}

.form-item {
  border-top: 2px solid #000000;
  padding-top: 8px;
  padding-bottom: 25px;

  font-family: "Open Sans Light", "Arial", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.form-item-color {
  border-top: 2px solid #000000;
  padding-bottom: 25px;

  font-family: "Open Sans Light", "Arial", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.form-item h3 {
  margin-top: 0;
  margin-bottom: 25px;
}

.form-item-color h3 {
  margin-top: 8px;
  margin-bottom: 19px;
}

.form-color-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.form-color-list input[type="checkbox"] {
  display: none;
}

.form-color-list li {
  padding-bottom: 10px;
}

.form-color-list label {
  position: relative;
  padding-bottom: 10px;
  padding-left: 40px;
}

.form-color-list label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #dbdbdb;
  top: 0;
  left: 0;
}

.form-color-list input[type="checkbox"]:checked ~ label:before {
  content: url("../img/checkbox-checked.png");
}

.form-bluetooth {
  margin-top: -5px;
}

.form-bluetooth-list input[type="radio"] {
  display: none;
}

.form-bluetooth-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.form-bluetooth-list li {
  padding-bottom: 10px;
}

.form-bluetooth label {
  position: relative;
  padding-bottom: 10px;
  padding-left: 40px;
}

.form-bluetooth-list label::before {
  content: url("../img/radio-unchecked.png");
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.form-bluetooth-list input[type="radio"]:checked ~ label:before {
  content: url("../img/radio-checked.png");
}

.goods {
  float: left;
  width: 760px;
  background-color: #ffffff;
  padding-left: 72px;
}

.goods-list {
  padding-top: 70px;
}

.goods-list-item {
  float: left;
  margin-right: 40px;
  margin-bottom: 52px;
}

.goods-list-item:nth-child(even) {
  margin-right: 0;
}

.goods-list-item:last-child {
  margin-bottom: 42px;
}

.item-footer {
  padding-top: 24px;
}

.item-footer-title a {
  float: left;
  width: 265px;

  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.item-footer-price {
  float: right;

  font-family: "Gilroy Light", "Arial", serif;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #464646;
  text-decoration: none;
}

.pagination {
  width: 760px;
  margin-bottom: 73px;
  background-color: #EBEBEB;
}

.pagination a {
  font-family: "Gilroy", "Arial", serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 70px;
  letter-spacing: .2em;
}

.pagination > a:hover {
  background-color: #d9d9d9;
}

.pagination > a:active {
  color: rgba(0,0,0,.3);
 }

.pagination-pages .current {
  color: #000000;
}

.pagination-pages a {
  margin: 0 10px;
  color: rgba(0,0,0,.3);
}

.pagination-pages a:hover {
  color: #000000;
}

.pagination .back {
  float: left;
  padding: 0 30px;
  margin-right: 200px;
}

.pagination-pages {
  float: left;
}

.pagination .next {
  float: right;
  padding: 0 30px;
}

.inner-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.inner-footer .container {
  padding-top: 68px;
  padding-bottom: 53px;
}

.main-footer .container {
  padding-top: 68px;
  padding-bottom: 53px;
}

.footer-top {
  margin-bottom: 22px;
}

.footer-top-logo {
  float: left;
}

.footer-top-logo a {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 48px;
  color: #f7e184;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-top-logo a:hover {
  color: #f0c52e;
}

.footer-top-logo a:active {
  opacity: 0.3;
}

.footer-top-menu {
  float: right;
  text-align: right;
  margin-top: -6px;
}

.footer-top-menu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-middle {
  margin-bottom: 57px;
}

.footer-middle-address {
  float: left;
}

.footer-middle-nav{
  float: left;
  margin-left: 165px;
}

.middle-nav-items {
  list-style: none;
  margin: 0;
  padding: 2px;
}

.middle-nav-items li{
  display: inline;
  margin-right: 34px;
}

.footer-middle-nav a{
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.footer-middle-nav a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle-nav a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-login,
.footer-compare,
.footer-cart {
  position: relative;
  display: inline-block;
  padding-left: 27px;
  margin-left: 30px;
}

.footer-login:hover,
.footer-compare:hover,
.footer-cart:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-login:active,
.footer-compare:active,
.footer-cart:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-login::before,
.footer-compare::before,
.footer-cart::before {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 0;
}

.footer-login::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -187px;
}

.footer-login:hover::before {
  background-position: -5px -209px;
}

.footer-compare::before  {
  width: 10px;
  height: 10px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -91px;
}

.footer-compare:hover::before {
  background-position: -5px -111px;
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -27px;
}

.footer-cart:hover::before {
  background-position: -5px -49px;
}

.footer-login:active::before,
.footer-compare:active::before,
.footer-cart:active::before {
  opacity: 0.3;
}

.footer-middle-phone {
  float: right;
}

.footer-bottom-logo {
  float: right;
}

.footer-bottom-line {
  float: left;
  position: relative;
  width: 300px;
  margin-right: 60px;
}

.footer-bottom-line::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 16px;
  background-color: #f7e184;
}

.footer-bottom-social {
  float: left;
  width: 440px;
  text-align: center;
}

.social-icon {
  opacity: 0.3;
  margin-right: 12px;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon:hover {
  opacity: 0.6;
}

.social-icon:active {
  opacity: 0.1;
}

.slider-picture {
  width: 560px;
  float: left;
}

.slider-picture img {
  display: block;
  margin: 0 auto;
}

.slider-desc {
  float: left;
  width: 490px;
  padding-left: 35px;
}

.slider-more {
  float: left;
  margin-left: 4px;
}

.slider-pagination {
  float: right;
  margin-right: 9px;
}

.pagination-button {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 19px;
  vertical-align: middle;

  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.pagination-button:last-child {
  margin-right: 0px;
}

.pagination-button.active {
  border: 3px solid rgba(0, 0, 0, 1);
}

.slider-heading {
  position: relative;
  margin-top: 35px;
  padding-top: 42px;
  letter-spacing: .02em;
  line-height: 57px;
}

.slider-heading::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: 0;
  left: 4px;
}

.slider-img {
  position: relative;
}

.slider {
  position: relative;
  margin-bottom: 95px;
}

.slider::before {
  content: "01";
  position: absolute;
  top: 60px;
  right: 49px;

  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 180px;
  color: rgba(255, 255, 255, 1);
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 42px;
  vertical-align: top;
  font-size: 18px;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.21em;
	line-height: 1.2em;
  cursor: pointer;
  color: #000000;
}

.button::after {
  content: "";
	position: absolute;
	top: 50%;
	left: 0;
  z-index: -1;
  display: block;
	width: 100%;
	border-bottom: 8px solid #f0c52e;
  -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.more {
  padding: 10px 21px;
}

.write-us-btn {
  padding: 10px 38px;
}

.form-btn {
  margin-top: 2px;
	border: none;
	background-color: transparent;
	outline: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #f0c52e;
}

.description {
  margin-bottom: 45px;
  padding-left: 4px;
  letter-spacing: .01em;
}

.slider-item-features {
  margin-top: 58px;
  margin-left: 5px;
}

.feature {
  padding-right: 78px;
}

.feature:last-child {
  padding-right: 0px;
}

.feature-heading {
  font-family: "Gilroy Light", "Arial", serif;
  font-size: 36px;
  color: #000000;
}

.feature-desc {
  font-family: "Open Sans", "Arial", serif;
  font-size: 13px;
  color: #464646;
  line-height: 55px;
}

.categories {
  margin-bottom: 157px;
}

.categories-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.categories-item a {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  letter-spacing: .02em;
}

.categories-item:last-child {
  margin-right: 0;
}

.categories-item-icn {
  background-color: #F7E296;
  width: 160px;
  height: 160px;
}

.categories-item-icn {
  background-image: url("img/popular-1.png");
}

.categories-item-icn:hover {
  background-color: #f0c52e;
}

.categories-item-icn:active img,
.categories-item:active .categories-item-text {
  opacity: 0.3;
}

.categories-item-text {
  margin-top: 35px;
  line-height: 20px;
}

.services-control-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-button {
  position: relative;
  margin-bottom: 35px;
  width: 172px;
  text-align: center;

  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.services-button::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  top: 10px;
  z-index: -1;
}

.services-button:hover::before {
  height: 40px;
  top: -5px;
}

.services-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-button-active {
  position: relative;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 120px;
  width: 160px;
  text-align: center;
  background-color: #000000;

  font-family: "Gilroy Extra Bold", "Arial", serif;
  display: inline-block;
  font-size: 18px;
  color: #f7e184;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.services-button-active::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  right: 0;
  top: -80px;
}

.services-desc-text .content-header {
  margin-top: -10px;
  letter-spacing: .03em;
}

.services::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 287px;
  background-color: #e5e5e5;
}

.brands {
  margin-bottom: 94px;
}

.brands-logo {
	margin-right: 35px;
}

.brands-logo:last-child {
	margin-right: 0px;
}

.brands-logo:hover img {
	display: none;
  width: 260px;
  height: auto;
}

.brands-logo:hover {
	display: inline-block;
	width: 260px;
	height: 100px;
	box-sizing: border-box;
}

.dji:hover {
	background-image: url("../img/logo-1-hover.jpg");
}

.spgadgets:hover {
	background-image: url("../img/logo-3-1-hover.jpg");
}

.gopro:hover {
	background-image: url("../img/logo-3-hover.jpg");
}

.vive:hover {
	background-image: url("../img/logo-4-hover.jpg");
}

.about-us-text {
  margin-top: 40px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about-us-text-second {
  margin-top: -8px;
  padding-bottom: 6px;
}


.about-us-list {
  list-style: none;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 67px;
}

.about-us-list li {
  position: relative;
  margin-bottom: 21px;
  padding-left: 35px;
  font-size: 16px;
  font-family: "Gilroy Extra Bold","Arial",sans-serif;
  line-height: 1.2em;
  list-style: none;
  color: #000000;
}

.about-us-list li::before {
	content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
	width: 4px;
	height: 4px;
	border: 3px solid #b2b2b2;
	border-radius: 50px;
}

.map-img {
  margin-bottom: 60px;
}

.range-controls {
	position: relative;
	padding-top: 7px;
}

.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	width: 55%;
	height: 2px;
	background-color: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	top: 1px;
	width: 10px;
	height: 10px;
	background-color: #eeeeee;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle:active {
  width: 8px;
  height: 8px;
	background-color: #91c92f;
  border-width: 3px;
	border-color: #fff;
	box-shadow: 0 2px 4px #000;
}

.range-controls .toggle-min {
	left: 0;
}

.range-controls .toggle-max {
	left: 110px;
}

.range-price label {
	position: relative;

	display: inline-block;
	width: 85px;
	margin-top: 10px;
	vertical-align: top;

	font-size: 14px;
	font-family: "Gilroy Light", "Arial", sans-serif;

  color: #bebebe;
}

.range-price input {
	width: 50px;
	margin-left: 4px;
	padding: 0;
  font-size: 14px;
  font-family: "Gilroy Light", "Arial", sans-serif;
	background-color: transparent;
	border: none;
	outline: none;

	color: #bebebe;
}

.footer-bottom-logo a {
  line-height: 4em;
  font-size: 0;
}

.copy img {
  width: 100%;
  height: auto;
}

.copy:hover img {
  display: none;
}

.footer-bottom-logo a:hover,
.footer-bottom-logo a:active {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 27px;
  height: 34px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -49px;
}

.footer-bottom-logo a:active {
  opacity: 0.3;
}

.map-popup {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 50%;
  z-index: 2;
  margin-right: -480px;
  margin-bottom: -280px;
  box-shadow: 1px 1px 15px #000;
  line-height: 0px;
}

.map-popup .close-btn {
  top: 25px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: -15px;
  display: block;
  width: 55px;
  height: 55px;
  background-color: #f7e296;
  border-radius: 50%;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 12px;
  width: 31px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

.close-btn::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-btn:active::after,
.close-btn:active::before {
  opacity: 0.3;
}

.write-us {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 50%;
  z-index: 2;
  width: 760px;
  margin-right: -480px;
  margin-bottom: -275px;
  padding: 75px 100px;
  padding-top: 97px;
  background-color: #fff;
  box-shadow: 0 4px 50px #000;
}

.write-us .column-left,
.write-us .column-right {
  float: left;
  width: 47.4%;
  font-size: 14px;
}

.write-us .column-right {
  float: right;
}

.write-us .row:nth-child(2) {
  margin-bottom: 35px;
}

.write-us-name,
.write-us-email,
.write-us-text {
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.write-us-label {
  display: block;
  margin-bottom: 9px;
  font-size: 18px;
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
}

.write-us-text {
  height: 155px;
  resize: none;
}

.write-us-name:hover,
.write-us-email:hover,
.write-us-text:hover {
  background-color: #eaeaea;
}

.write-us-name:focus,
.write-us-email:focus,
.write-us-text:focus {
  padding: 14px 17px;
  border: 3px solid #e5e5e5;
  background-color: #fff;
}

.write-us .form-btn {
  margin-top: 39px;
}
