/*Fonts*/

@font-face {
  font-family: "Gilroy Light";
  src: url('../fonts/gilroylight.woff') format('woff'),
      url('../fonts/gilroylight.woff2') format('woff2');
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url('../fonts/gilroyextrabold.woff') format('woff'),
      url('../fonts/gilroyextrabold.woff2') format('woff2');
}

@font-face {
  font-family: "Open Sans Light";
  src: url('../fonts/opensanslight.woff') format('woff'),
      url('../fonts/opensanslight.woff2') format('woff2');
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.woff') format('woff'),
      url('../fonts/opensans.woff2') format('woff2');
}

body {
  font-family: "Open Sans Light", "Arial", serif;
  font-size: 15px;
  color: #464646;
  line-height: 30px;
}

h1 {
  font-size: 47px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
}

h2 {
  font-size: 47px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 70px;
}

.container {
  min-height: 70px;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-top {
  padding: 0 60px;
  background-color: #F7E296;
}

.logo {
}

.header-middle {
  padding: 0 60px;
  background-color: #F7E296;
}

.search {
  width: 540px;
  float: left;
}

.login {
  width: 100px;
  float: left;
}

.compare-cart {
  float: right;
}

.compare {
    display: inline;
}

.cart {
  display: inline;
}

.header-bottom {
    padding: 0 60px;
  background-color: #F7E296;
}

.catalog {
  width: 540px;
  float: left;
}

.delivery-warranty {
  width: 300px;
  float: left;
}

.delivery {
  display: inline;
}

.warranty {
  display: inline;
}

.contacts {
  float: right;
}

.slider {
}

.slider-picture {
  width: 560px;
  float: left;
}

.slider-picture img {
  display: block;
  margin: 0 auto;
}

.slider-desc {
  float: left;
  width: 500px;
}

.slider-more {
  float: left;
}

.slider-pagination {
  float: right;
}

.feature {
  float: left;
}

.categories {
  margin-top: 100px;
  margin-bottom: 100px;
}

.categories-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.categories-item:last-child {
  margin-right: 0px;
}

.categories-item-icn {
  background-color: #F7E296;
  width: 160px;
  height: 160px;
}

.services {
}

.services-control {
  float: left;
  width: 400px;
}

.services-desc {
  width: 760px;
  float: left;
}

.services-desc-text {
  width: 460px;
  float: left;
}

.services-desc-picture {
  width: 260px;
  float: right;
}

.services-desc-picture img {
  display: block;
  margin: 0 auto;
}

.about-us {
  float: left;
  width: 560px;
}

.contacts {
  float: left;
  width: 560px;
}

.filter-column {
  float: left;
  border: 1px solid red;
  margin-left: 60px;
  width: 268px;
}

.filter-column-header {
  background-color: #DBDBDB;
}

.filter-column-form {
  background-color: #EFEFEF;
}

.goods-column {
  width: 760px;
  float: right;
}

.sort-header {
  background-color: #EBEBEB;
  float: left;
  width: 760px;
}

.sort-title {
  width: 200px;
  float: left;
}

.sort-type {
  float: left;
}

.sort-directon {
  float: right;
}

.goods {
}

.goods-item {
  float: left;
  margin-right: 40px;
  margin-top: 50px;
}

.goods-item:nth-child(even) {
  margin-right: 0px;
}

.pagination {
  width: 760px;
  margin-top: 50px;
  margin-bottom: 75px;
  background-color: #EBEBEB;
}

.pagination a {
  font-family: "Gilroy", "Arial", serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 70px;
  letter-spacing: .2em;
}

.pagination > a:hover {
  background-color: #d9d9d9;
}

.pagination > a:active {
  color: rgba(0,0,0,.3);
 }

.pagination-pages .current {
  color: #000000;
}

.pagination-pages a {
  margin: 0 10px;
  color: rgba(0,0,0,.3);
}

.pagination-pages a:hover {
  color: #000000;
}

.pagination .back {
  float: left;
  padding: 0 30px;
  margin-right: 200px;
}

.pagination-pages {
  float: left;
}

.pagination .next {
  float: right;
  padding: 0 30px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-top {
  padding-top: 60px;
  margin-bottom: 30px;
}

.footer-top-logo {
  float: left;
}

.footer-top-logo a {
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 48px;
  color: #f7e184;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-top-logo a:hover {
  color: #f0c52e;
}

.footer-top-logo a:active {
  opacity: 0.3;
}

.footer-top-menu {
  float: right;
}

.footer-top-menu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-middle {
  margin-bottom: 75px;
}

.footer-middle-address {
  float: left;
}

.footer-middle-nav{
  float: left;
  margin-left: 160px;
  text-transform: uppercase;
}

.footer-middle-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-middle-nav ul li{
  display: inline;
  margin-right: 35px;
}

.footer-middle-nav a{
  font-family: "Gilroy Extra Bold", "Arial", serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
  /*line-height: 70px;*/
  letter-spacing: .2em;
}

.footer-login,
.footer-compare,
.footer-cart {
  display: inline;
}

.footer-login,
.footer-compare,
.footer-cart {
  position: relative;
  display: inline-block;
  padding-left: 60px;
}

.footer-login:hover,
.footer-compare:hover,
.footer-cart:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-login:active,
.footer-compare:active,
.footer-cart:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-login::before,
.footer-compare::before,
.footer-cart::before {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 37px;
}

.footer-login::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -187px;
}

.footer-login:hover::before {
  background-position: -5px -209px;
}

.footer-compare::before  {
  width: 10px;
  height: 10px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -91px;
}

.footer-compare:hover::before {
  background-position: -5px -111px;
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite-icon.png");
  background-position: -5px -27px;
}

.footer-cart:hover::before {
  background-position: -5px -49px;
}

.footer-login:active::before,
.footer-compare:active::before,
.footer-cart:active::before {
  opacity: 0.3;
}

.footer-middle-phone {
  float: right;
}

.footer-bottom-line {
  float: left;
}

.footer-bottom-social {
  float: left;
  margin-left: 300px;
}

.footer-bottom-logo {
  float: right;
}

.social-fb {
  display: inline-block;
  
}

.social-insta {
  display: inline-block;
}

.social-vk {
  display: inline-block;
}

.footer-bottom-line {
  float: left;
  position: relative;
}

.footer-bottom-line::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #f7e184;
}
