body {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: normal;
  font-family: "Open Sans", "Arial", serif;
  margin: 0;
}

h1 {
  font-size: 47px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
}

h2 {
  font-size: 47px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", "Arial", serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 70px;
}

.container {
  min-height: 70px;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-top {
  padding: 0 60px;
  background-color: #F7E296;
}

.logo {
}

.header-middle {
  padding: 0 60px;
  background-color: #F7E296;
}

.search {
  width: 540px;
  float: left;
}

.login {
  width: 100px;
  float: left;
}

.compare-cart {
  float: right;
}

.compare {
    display: inline;
}

.cart {
  display: inline;
}

.header-bottom {
    padding: 0 60px;
  background-color: #F7E296;
}

.catalog {
  width: 540px;
  float: left;
}

.delivery-warranty {
  width: 300px;
  float: left;
}

.delivery {
  display: inline;
}

.warranty {
  display: inline;
}

.contacts {
  float: right;
}

.slider {
}

.slider-picture {
  width: 560px;
  float: left;
}

.slider-picture img {
  display: block;
  margin: 0 auto;
}

.slider-desc {
  float: left;
  width: 500px;
}

.slider-more {
  float: left;
}

.slider-pagination {
  float: right;
}

.feature {
  float: left;
}

.categories {
  margin-top: 100px;
  margin-bottom: 100px;
}

.categories-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.categories-item:last-child {
  margin-right: 0px;
}

.categories-item-icn {
  background-color: #F7E296;
  width: 160px;
  height: 160px;
}

.services {
}

.services-control {
  float: left;
  width: 400px;
}

.services-desc {
  width: 760px;
  float: left;
}

.services-desc-text {
  width: 460px;
  float: left;
}

.services-desc-picture {
  width: 260px;
  float: right;
}

.services-desc-picture img {
  display: block;
  margin: 0 auto;
}

.about-us {
  float: left;
  width: 560px;
}

.contacts {
  float: left;
  width: 560px;
}

.footer-top-logo {
  float: left;
}

.footer-top-menu {
  float: right;
}

.footer-login {
  display: inline;
}

.footer-compare {
  display: inline;
}

.footer-cart {
  display: inline;
}

.footer-middle-address {
  float: left;
}

.footer-middle-nav{
  float: left;
  text-transform: uppercase;
}

.footer-middle-nav ul{
  list-style: none;
}

.footer-middle-nav ul li{
  display: inline;
}

.footer-middle-phone {
  float: right;
}

.filter-column {
  float: left;
  border: 1px solid red;
  margin-left: 60px;
  width: 268px;
}

.filter-column-header {
  background-color: #DBDBDB;
}

.filter-column-form {
  background-color: #EFEFEF;
}

.goods-column {
  width: 760px;
  float: right;
}

.sort-header {
  background-color: #EBEBEB;
  float: left;
  width: 760px;
}

.sort-title {
  width: 200px;
  float: left;
}

.sort-type {
  float: left;
}

.sort-directon {
  float: right;
}

.goods {
}

.goods-item {
  float: left;
  margin-right: 40px;
  margin-top: 50px;
}

.goods-item:nth-child(even) {
  margin-right: 0px;
}

.pagination {
  width: 760px;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #EBEBEB;
  margin: 30px auto;
}

.pagination a,
.pagination span {
  display: inline-block;
  height: 40px;
  min-width: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;
}

.pagination .back {
  float: left;
}

.pagination .next {
  float: right;
}

/*.pagination-back {
  float: left;
}

.pagination-forward {
  float: right;
}*/

.footer-bottom-social {

}

.social-fb {
  display: inline-block;
}

.social-insta {
  display: inline-block;
}

.social-vk {
  display: inline-block;
}
